html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Barra de Navegación */
header{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    align-items: center;
    padding: 10px 80px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.822);
    background: radial-gradient(120% 100% at 50% 0%,
            #444444 0%,
            #000000 100%);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logoPHW{
    width: 4rem;
}
.nombre-empresa{
    text-align: center;
    color: #ff8a2c;
}
.nombre-empresa h1{
    font-size: 55px;
    text-shadow: 0 0 4px #000000;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 4px;
    margin-bottom: -20px;
    margin-top: 12px;
}
.nombre-empresa h2{
    font-size: 17px;
    color: white;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 2px;
    margin-top: 8px;
    font-weight: normal;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

nav a{
    font-size: 20px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-weight: normal;
    letter-spacing: 2px;
    cursor: pointer;
}
nav a:hover{
    background-color: #ff8a2c;
    color: white;
}

/* contenedor del menu y filtros */
.contenedor {
    margin: 0 auto;
    padding: 20px 80px;
}
body{
    background-color: #ff8a2c;
}
/* contenedor del menu */
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.filtros{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filtros button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;

}

.filtros button img{
    width: 24px;
    height: auto;
}

.filtros button:not(.activo):hover{
    background-color: #d3cfc5;
    color: black;
}

.btn-filtro.activo{
    background-color: rgb(255, 60, 0);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* tarjeta de cada producto */
.producto {
    border-radius: 10px;
    padding: 24px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffff;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* contenedor de la imagen del producto */
.contenedor-img-prod {
    /* height: 200px; */
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

/* Imagen del producto */
.img-prod {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.producto h3{
    margin-top: 4px;
}

.descripcion {
    opacity: 0.8;
}

/* icono de categoria */
.categoria {
    width: 32px;
    height: auto;
}

/* Contenedor que envuelve al precio y al icono de categoria */
.precio-cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.precio {
    font-weight: bold;
    color: green;
    font-size: 18px;
}


/* contacto seccion */
.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 30px 80px;
    margin: 25px 35px;
    background-color: #202020;
    border-radius: 15px;
    align-items: center;
    color: white;
}

.contacto a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.contacto a:hover {
    text-decoration: underline;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.columna-contacto {
    align-items: flex-start;
}

.contacto-info {
    display: flex;
    gap: 10px;
}

.contacto-info img {
    width: 32px;
    height: auto;
}

.contacto-info span {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.texto-contacto {
    display: flex;
    flex-direction: column;
}

.img-mapa {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.columna form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

form textarea {
    resize: vertical;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 325px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff8a2c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    text-align: center;
    align-self: flex-end;
    background-color: rgb(36, 146, 36);
}

form button:hover {
    background-color: rgb(21, 112, 21);
}

/* footer */
footer{
    background: radial-gradient(120% 100% at 50% 0%,
            #444444 0%,
            #000000 100%);;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    color: #ffffffec;
    transition: all 0.6s ease;
    font-size: 15px;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.redes img{
    width: 20px;
    opacity: 0.8;
    transition:all 0.3s ease;
    margin-bottom: 10px;
}
.redes img:hover{ /* Efecto escala  */
    transform: scale(1.5);
}

/* --- TABLETS Y PANTALLAS PEQUEÑAS (Menos de 900px) --- */
@media (max-width: 900px) {
    header {
        padding: 10px 20px;
        grid-template-columns: auto 1fr auto;
    }

    .contenedor {
        padding: 20px 30px;
    }

    .nombre-empresa h1 {
        font-size: 40px;
    }

    .contacto {
        grid-template-columns: 1fr; 
        margin: 20px 10px;
        padding: 30px;
        text-align: center; 
    }

    .columna {
        align-items: center; 
    }
    
    .columna-contacto {
        align-items: center; 
    }

    form textarea {
        width: 400px;
    }
}

/* --- CELULARES (Menos de 600px) --- */
@media (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        position: relative;
    }

    .nombre-empresa h1 {
        font-size: 32px;
        margin-top: -12px;
        margin-bottom: -10px;
    }

    nav {
        margin: 0 auto;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    nav a {
        font-size: 14px;
        padding: 8px 10px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .filtros {
        justify-content: center;
    }
    
    .filtros button {
        width: 100%;
        justify-content: center;
    }

    .menu {
        grid-template-columns: 1fr; 
    }

    .contacto {
        padding: 20px 15px; /* Menos relleno interno */
    }

    form button {
        width: 100%;
        align-self: center;
    }
}